name: Pycograph

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.9]
        poetry-version: [1.1.6]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install poetry ${{ matrix.poetry-version }}
      run: |
        python -m ensurepip
        python -m pip install --upgrade pip
        python -m pip install poetry==${{ matrix.poetry-version }}

    - name: Install application and dependencies
      run: python -m poetry install

    - name: Test with pytest
      run: python -m poetry run python -m pytest

    - name: Coverage
      run: python -m poetry run coverage run && python -m poetry run coverage report
    
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1